// _responsive.scss

/* ==========================================================================
  Phones
========================================================================== */

@media screen and (max-width: 549px) {
  .header__logo {
    height: 48px;
    margin-right: 0.5em;
  }
  h1.header__title {
    margin-left: 0.1em;
    margin-top: 2em;
    font-size: 1em;
    word-wrap: break-word;
    width: 40%;
    // vertical-align: bottom; 
  }
  .nav {
    z-index: 10;
    background-color: #fff;
    width: 300px;
    position: absolute;
    /* This transform moves the drawer off canvas. */
    -webkit-transform: translate(-500px, 0);
    transform: translate(-500px, 0);
    /* Optionally, we animate the drawer. */
    transition: transform 0.3s ease;
  }
  .nav.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .nav__item {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
    background-color: #FAFAFA;
  }
  .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
  }
  .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
  .hero__img {
    overflow: hidden;
  }
  .contact__logos .social {
    margin-right: 4px;
  }
}

/* ==========================================================================
for large phones
========================================================================== */

@media only screen and (min-width: 550px) {
  .header__menu {
    display: none !important;
  }
  h1.header__title {
    margin-left: 0.5em;
    font-size: 1.7em;
    vertical-align: bottom; 
  }



/*   .bar-menu {
    display: none !important;
  }

  ul.nav-menu {
    display: inline-flex !important;
  }

  li .page-scroll {
    display: inline-block !important;
  } */
  .project__wrapper {
    margin-bottom: 10px;
  }
}

/* ==========================================================================
  for tablets
========================================================================== */

@media screen and (min-width: 750px) {
  // .navbar-title {
  //   display: inline-block !important;
  // }
  h1.header__title {
    margin-left: 1.5em;
    font-size: 2em;
  }
  .about__wrapper {
    flex-direction: row !important;
  }
}

/* ==========================================================================
  for laptops and large screens
========================================================================== */
@media only screen and (min-width: 1000px) {
  h1.header__title {
    margin-left: 2em;
    font-size: 2.5em;
  }
  .contact__logos .social:first-child {
    padding-left: 30px;
  } 
  .project__wrapper {
    margin-right: 10px;
  }
}

/* ==========================================================================
  for super large screens - lucky you
========================================================================== */
@media only screen and (min-width: 1700px) {
  .header {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__wrapper {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}
