@import 'responsive';

/* ==========================================================================
  General styling 
========================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

a {
  // text-decoration: none;
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  color: #333;
  transition:all 0.5s;
}

a:hover {
  background:rgba(0,0,0,0.3);
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
  Header
========================================================================== */

.header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 72px;
  margin-left: 1em;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 50px;
}

.header__title {
  font-weight: 300;
  font-size: 2em;
  margin: 0.75em 0.25em;
  display: inline-block;
  color: #212121;
}

.header__menu {
  display: flex;
  align-self: center;
  // padding-left: 4em;
  // background-color: #EFEFEF;
}

/* ==========================================================================
  Navigation
========================================================================== */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  // flex: 1;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  text-align: center;
  line-height: 24px;
  padding: 10px;
  text-transform: uppercase;
}

.nav a {
/*   background-color: #FAFAFA; */
  text-decoration: none;
  color: #616161;
  // background-color: white;
  // padding: 1.5em;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

/* ==========================================================================
Hero Section  
========================================================================== */

.hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.hero__intro {
  /* for testing only */
  // border:1px solid black;

  max-width: 55%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hero__img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero__caption {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

/* ==========================================================================
  Portfolio Section 
========================================================================== */

.portfolio__section {
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;

  /* this shifts to 2 wide column - check for media break points */
  // padding: 100px;
  
  /* for testing only */
  // border:1px solid blue;
  
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  .portfolio__header {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
  }
  .portfolio__subheader {
    font-size: 20px;
    text-align: center;
  }
}

/* flex container */
.portfolio__wrapper {
  /* for testing only */
  // border:1px solid black;

  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.project__wrapper {
  background-color: #FFFFFF;
  border: 1px solid gray;

}

.project__title {
  /* for testing only */
  // border:1px solid black;

  text-align: center;
  padding-bottom: 10px;
}

.project__img {
  padding: 10px;
  max-width: 350px;
  height: auto;
}

.project__links {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

a.project__url {
  background-color: #FFFFFF;
}

/* ==========================================================================
  About Section
========================================================================== */

.about__section {
  margin: 50px auto 0 auto;
  width: 65%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 5px;
  .about__header {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
  }
  /* for testing only */
  // border:1px solid black;
}

.about__wrapper {
  display:flex;
  flex-wrap:wrap;
  flex-direction: column;
}

.about__front  {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding-left: 35px;
  flex: 1;
  h2 {
    font-size: 25px;
  }
  /* for testing only */
  // border:1px solid blue;
}

.about__back {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding-left: 35px;
  flex:1;
  h2 {
    font-size: 25px;
  }
  /* for testing only */
  // border:1px solid blue;
}

.about__tools {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding-left: 35px;
  flex:1;
  h2 {
    font-size: 25px;
  }
  /* for testing only */
  // border:1px solid blue;
}

/* ==========================================================================
  Contact section
========================================================================== */

// flex container 
.contact__wrapper {
  margin: 50px auto 0 auto;
  width: 65%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  // background-color: #eee;
  border-radius: 6px;
  // padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .contact__header {
    font-size: 25px;
  }
  .contact__text {
    text-align: center;
  }

  /* testing purposes only */
  // border:1px solid black;
}

.contact__header {
  /* testing purposes only */
  // border:1px solid blue;

  display:flex;
  align-self: center;
}

.contact__img {
  display: flex;
  align-self: center;
  width: 150px;
  border-radius: 75px;
}

.contact__logos {
  /* testing purposes only */
  // border:1px solid blue;

  list-style: none;
  display:flex;
  justify-content: space-between;

}

.contact__logos .social {
  align-self: center;
  flex:1;
}

/* ==========================================================================
  Footer section
========================================================================== */

.footer__wrapper {
  // border:1px solid black;
  display:flex;
  justify-content: center;
  padding: 50px;
}

.footer__container {
  display:flex;
  justify-content: center;
}
