@import 'responsive';

/* ==========================================================================
  General styling 
========================================================================== */

html {
  box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

body {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

a {
  background: #fafafa;
  font-family: 'Roboto', sans-serif;
  color: #333;
  transition: all 0.5s;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
  Header
========================================================================== */

.header {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height: 56px;
  transition: min-height 0.3s;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 72px;
  margin-left: 1em;
  margin-right: 1em;
  vertical-align: top;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 50px;
}

.header__title {
  font-weight: 300;
  font-size: 2em;
  margin: 0.75em 0.25em;
  display: inline-block;
  color: #212121;
}

.header__menu {
  display: flex;
  align-self: center;
}

/* ==========================================================================
  Navigation
========================================================================== */

.nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.nav__item {
  display: flex;
  flex: 1;
  box-sizing: border-box;
  display: inline-block;
  width: 20%;
  text-align: center;
  line-height: 24px;
  padding: 10px;
  text-transform: uppercase;
}

.nav a {
  text-decoration: none;
  color: #616161;
}

.nav a:hover {
  text-decoration: underline;
  color: #212121;
}

/* ==========================================================================
Hero Section  
========================================================================== */

.hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.hero__intro {
  max-width: 55%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}

.hero__img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero__caption {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

/* ==========================================================================
  Portfolio Section 
========================================================================== */

.portfolio__section {
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.portfolio__header {
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
}

.portfolio__subheader {
  font-size: 20px;
  text-align: center;
}


/* flex container */
.portfolio__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project__wrapper {
  background-color: #ffffff;
  border: 1px solid #808080;
  cursor: pointer;
  transition: 0.3s;
}

.project__wrapper:hover {
  opacity: 0.7;
}

.project__title {
  text-align: center;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.project__snippet {
  text-align: center;
  font-size: 0.8em;
  padding-bottom: 10px;
}


.project__img {
  padding: 10px;
  max-width: 350px;
  height: auto;
}

.project__links {
  display: flex;
  max-width: 80%;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

a.project__url {
  background-color: #ffffff;
}

/* ==========================================================================
  Modal Section
========================================================================== */

.modal {
    // display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.modal_summary {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

a.project_url {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  color: #ccc;
}

/* Add Animation */
.modal-content, 
#caption,
.modal_summary {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}


/* ==========================================================================
  About Section
========================================================================== */

.about__section {
  margin: 50px auto 0;
  width: 65%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 5px;

  .about__header {
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
  }
}

.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.about__front {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding-left: 35px;
  flex: 1;

  h2 {
    font-size: 25px;
  }
}

.about__back {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding-left: 35px;
  flex:1;

  h2 {
    font-size: 25px;
  }
}

.about__tools {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding-left: 35px;
  flex: 1;

  h2 {
    font-size: 25px;
  }
}

/* ==========================================================================
  Contact section
========================================================================== */

// flex container 
.contact__wrapper {
  margin: 50px auto 0;
  width: 65%;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .contact__header {
    font-size: 25px;
  }

  .contact__text {
    text-align: center;
  }

}

.contact__header {
  display: flex;
  align-self: center;
}

.contact__img {
  display: flex;
  align-self: center;
  width: 150px;
  border-radius: 75px;
}

.contact__logos {
  list-style: none;
  display: flex;
  justify-content: space-between;

}

.contact__logos .social {
  align-self: center;
  flex: 1;
}

/* ==========================================================================
  Footer section
========================================================================== */

.footer__wrapper {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.footer__container {
  display: flex;
  justify-content: center;
}
