{% extends "base.njk" %}

{% block content %}
    
{% include "partials/nav.njk" %}

{% include "partials/hero.njk" %}

{% include "partials/portfolio.njk" %}

{% include "partials/about.njk" %}

{% include "partials/contact.njk" %}

{% include "partials/footer.njk" %}

{% endblock content %}
