        <!-- About section start -->
        <section id="about">
          <div class="about__section">
                <div class="about__title">
                    <h2 class="about__header">Skills and Experience</h2>
                </div>
            <div class="about__wrapper">
              <div class="about__front">
                  <h2>Front-End:</h2>
                  <ul>
                      <li>HTML5</li>
                      <li>CSS3 & FlexBox</li>
                      <li>Javascript</li>
                      <li>jQuery</li>
                  </ul>
              </div>
              <div class="about__back">
                  <h2>Back-End:</h2>
                  <ul>
                      <li>Python</li>
                      <li>PostgreSQL</li>
                  </ul>
              </div>
              <div class="about__tools">
                  <h2>Tools:</h2>
                  <ul>
                      <li>npm</li>
                      <li>Gulp</li>
                      <li>Yeoman</li>
                      <li>Jasmine</li>
                      <li>Sass</li>
                      <li>Git</li>
                  </ul>
              </div>
            </div>
          </div>
        </section>