        <!-- About section start -->
        <section id="about">
          <div class="about__section">
                <div class="about__title">
                    <h2 class="about__header">Skills and Experience</h2>
                </div>
            <div class="about__wrapper">
              <div class="about__front">
                  <h2>Front-End:</h2>
                  <ul class="about__skills">
                      <li>JavaScript</li>
                      <li>React.js</li>
                      <li>Knockout.js</li>
                      <li>HTML5, Jinja2, Nunjucks</li>
                      <li>CSS3 & Sass</li>
                  </ul>
              </div>
              <div class="about__back about__skills">
                  <h2>Back-End:</h2>
                  <ul class="about__skills">
                      <li>Python</li>
                      <li>Python Flask</li>
                      <li>PostgreSQL</li>
                      <li>SQLite</li>
                      <li>Google App Engine</li>
                  </ul>
              </div>
              <div class="about__tools about__skills">
                  <h2>Other Skills:</h2>
                  <ul class="about__skills">
                      <li>Git</li>
                      <li>Gulp</li>
                      <li>macOS & Linux Ubuntu</li>
                  </ul>
              </div>
            </div>
          </div>
        </section>
