        <!-- Contact section start -->
        <section id="contact">
          <div class="contact__wrapper">
            <h2 class="contact__header">Get in touch!</h2>
            <p class="contact__text">I'm always happy to talk about programming and you can reach me via Twitter or LinkedIn.</p>
            <img class="contact__img" src="images/SA_profile_image.svg" alt="profile photo">

            <div class="contact__logos">              
              <a href="https://github.com/cubiio" target="_blank"><i class="fa fa-github fa-lg"></i></a>
              <a href="https://www.linkedin.com/in/atkinssam" target="_blank"><i class="fa fa-linkedin fa-lg"></i></a>
              <a href="https://twitter.com/cubiio" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
              <a href="https://cubiio.github.io/" target="_blank"><i class="fa fa-pencil-square fa-lg"></i></a>
            </div>
          </div>
        </section>
