        <!-- Footer section start -->
        <div class="footer__wrapper">
            <div class="footer__container">
                <p class="footer-text">Built with ♥ by Sam. View source <a href="https://github.com/cubiio/portfolio">code</a>. © 2016-2017 Sam Atkins</p>
            </div>
        </div>
