      <!-- Header 404 page-->
      <header class="header">
        <div class="header__inner">
          <img class="header__logo" src="images/SA_profile_image.svg" alt="Avatar of Sam Atkins">
          <h1 class="header__title">
            Sam Atkins - Full Stack Web Developer
          </h1>
      </header>
