        <!-- hero section -->
        <section id="hero">
            <div class="hero__wrapper">
                <figure class="hero__img">
                    <picture>
                        <source media="(min-width: 750px" srcset="images/hero_800_large_1x.jpg 1x, images/hero_1600_large_2x.jpg x2">
                        <source media="(min-width: 500px" srcset="images/hero_medium.jpg">
                        <img src="images/hero_small.jpg" alt="A person coding on an Apple MacBook">
                    </picture>
                    <figcaption class="hero__caption">Image by <a href="https://unsplash.com/@albertosaure">Alberto Saure</a></figcaption>
                </figure>
                <div class="hero__intro">
                    <p>Hi, I'm Sam and welcome to my portfolio. I'm a full stack engineer, currently studying at <a href="https://www.udacity.com/" target="_blank">Udacity</a>. My portfolio of projects is below.</p>
                </div>
            </div>
        </section>