    <!-- hero section -->
    <section id="hero">
      <div class="hero__wrapper">
        <img class="hero__profile" src="images/SA_profile_image.svg" alt="profile photo">
        <h2 class="hero__tagline">Dad. Husband. Programmer. Recovering management consultant.</h2>

        <div class="hero__intro">
          <p>I’m a Junior Full-Stack Developer. What does this mean? I’m a Pythonista in training and I know some JavaScript.</p>
          <p>My background is in supply chain and project management. I worked for over nine years in Big Four management consulting and I’m now very glad not to use PowerPoint everyday.</p>
          <p>Outside of work, I’m a family man and when time permits, I like cycling, football and rugby.</p>
          <p>A summary of my key side-projects is below.</p>
        </div>
      </div>
    </section>
