        <!-- Header & Nav -->
        <header class="header">
          <div class="header__inner">
            <img class="header__logo" src="images/SA_profile_image.svg" alt="Avatar of Sam Atkins">
            <h1 class="header__title">
              Sam Atkins - Full Stack Web Developer
            </h1>
            <a id="menu" class="header__menu">
              <i class="fa fa-bars"></i>
            </a>
          </div>
        </header>

        <nav id="drawer" class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#portfolio">Portfolio</a></li>
            <li class="nav__item"><a href="#about">About</a></li>
            <li class="nav__item"><a href="#contact">Contact</a></li>
          </ul>
        </nav>
