				<!-- Portfolio section start -->
				<section id="portfolio">
				<div class="portfolio__section">
					<div class="portfolio__title">
						<h2 class="portfolio__header">Portfolio</h2>
						<h3 class="portfolio__subheader">A selection of my  projects</h3>
					</div>

					<div class="portfolio__wrapper">
						{% for image in images %}
							<div class="project__wrapper">
							<img class="project__img" src="{{image.src}}" alt="{{image.alt}}">
							<div class="project__title"><h4>{{image.title}}</h4></div>
							<div class="project__links">
											
							<a class="project__url" href="{{image.demo_url}}" target="_blank">
							<i class="fa fa-link"> View Demo</i>
							</a>
							<a class="project__url" href="{{image.source_url}}" target="_blank">
							<i class="fa fa-code"> View Source</i>
							</a>
							</div>
							</div>
						{% endfor %}
					</div>
				</div>
				</section>

				<!-- Portfolio section with Modals start -->
				<section id="portfolio">
				<div class="portfolio__section">
					<div class="portfolio__title">
						<h2 class="portfolio__header">Portfolio (modals - dev)</h2>
						<h3 class="portfolio__subheader">A selection of my  projects</h3>
					</div>
					
					<div class="portfolio__wrapper" data-bind="foreach: portfolioModalList">
								<div class="project__wrapper">
									<img class="project__img" src="" data-bind="click: $parent.selectModal, attr: {src: portfolioImage}">
									<div class="project__title" data-bind="text: portfolioTitle"><h4> </h4></div>
									<div class="project__links">
										<a class="project__url" data-bind="attr: { href: portfolioDemoURL}">
									    <i class="fa fa-link"> View Demo</i>
										</a>
										<a class="project__url" data-bind="attr: { href: portfolioSourceURL}">
											<i class="fa fa-code"> View Source</i>
										</a>
									</div>
								</div>
					</div>
				</div>
				</section>

				<!-- Modal start -->
				<div data-bind="with:currentModal, visible: toggleModal">
					<h2 data-bind="text: portfolioTitle"></h2>
					<img class="project__img" src="" data-bind="attr: {src: portfolioImage}">
				</div>
