				<!-- Portfolio section with Modals start -->
				<section id="portfolio">
				<div class="portfolio__section">
					<div class="portfolio__title">
						<h2 class="portfolio__header">Portfolio</h2>
						<h3 class="portfolio__subheader">A selection of my  projects</h3>
					</div>
					
					<div class="portfolio__wrapper" data-bind="foreach: portfolioModalList">
						<div class="project__wrapper" data-bind="click: $parent.selectModal">
							<img class="project__img" src="" data-bind="attr: {src: portfolioImage}">
							<div class="project__title" data-bind="text: portfolioTitle"><h4> </h4>
							</div>
							<div class="project__snippet" data-bind="text: portfolioSnippet"><p> </p>
							</div>
						</div>
					</div>
				</div>
				</section>

				<!-- Modal start -->
				<div class="modal" data-bind="with:currentModal, style: { display: toggleModal() == true ? 'block' : 'none' }">

					<span class="close" data-bind="click: $parent.closeModal">&times;</span>
					
					<img class="modal-content" class="project__img" src="" data-bind="attr: {src: portfolioImage}">
					<div id="summary" class="modal_summary">
						<h2 data-bind="text: portfolioTitle"></h2>

						<p data-bind="text: portfolioSummary"> </p>

						<div class="project__links">
							<a class="project_url" data-bind="attr: { href: portfolioDemoURL}" target="_blank">
						    <i class="fa fa-link"> View Demo</i>
							</a>
							<a class="project_url" data-bind="attr: { href: portfolioSourceURL}" target="_blank">
								<i class="fa fa-code"> View Source</i>
							</a>
						</div>

					</div>

				</div>


